@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Montserrat', sans-serif;
  --color-navy: #0B192C;
  --color-gold: #C59B27;
  --color-light-gray: #F8F9FA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light-gray);
}
